* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Be Vietnam Pro', sans-serif;

    /* The image used */
    background-image: url("../images/bg-image.svg");

    /* Full height only use 100vh for development */


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* sections max width is 810px */

.navbar {
    padding: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.info--contact {
    text-align: center;
    color: #FFFFFF;
    line-height: 1.2;
    display: flex;
    width: 350px;
    max-width: 650px;
    flex-direction: column;
    gap: 16px;
}

.info--contact h1 {
    font-size: 32px;
    font-weight: bolder;
}

.info--contact p {
    font-size: 18px;
}

.contact--form {
    color: #fff;
    margin-top: 35px;
    width: 100%;
    border-radius: 16px;
    padding: 20px 20px;
    /* other styles */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /*border: 1px solid rgba(255, 255, 255, 0.18);*/
}

label {
    font-size: 12px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.group--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*inputs*/
.form--input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input--rounded {
    background-color: #F8FAFC;
    width: 100%;
    padding: 10px 15px;
    border-radius: 16px;
}

.form--input input {
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    background-color: #F8FAFC;
    color: #111729;
    font-weight: bolder;
    font-family: 'Be Vietnam Pro', sans-serif;

}

.form--input select {
    appearance: none;
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    color: #111729;
    font-weight: bolder;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: transparent;
    display: inline-block;
    z-index: 100;
    cursor: pointer;
}

.form--input textarea {
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    background-color: #F8FAFC;
    color: #111729;
    font-weight: bolder;
    font-family: 'Be Vietnam Pro', sans-serif;

    resize: none;
}
.form--input img {
    position: absolute;
    right: 15px;
    z-index: 0;
}
.drop--down {
    position: relative;
    display: flex;
    align-items: center;
}


.btn {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 13px 15px;
}

.primary {
    font-weight: 500;
    border-radius: 16px;
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 100%;
    color: #4036A9;
    background-color: #F8FAFC;
}

@media screen and (min-width: 740px) {
    .navbar {
        padding: 15px 30px;
    }

    .content {
        padding: 0 30px;
    }

    .info--contact h1 {
        font-size: 42px;
    }

    .info--contact p {
        font-size: 20px;
        width: 90%;
    }

    .info--contact {
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .form--input {
        width: 100%;
    }

    .group--form {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        padding: 15px 60px;
    }

    .content {
        padding: 0 30px;
    }

   

    .info--contact h1 {
        font-size: 60px;
    }

    .info--contact p {
        font-size: 32px;
    }

    label {
        font-size: 14px;
    }

    .form--input input {
        font-size: 16px;
    }

    .form--input textarea {
        font-size: 16px;
    }

    .contact--form {
        margin-top: 70px;
        max-width: 810px;
    }

    .input--rounded {
        padding: 15px 20px;
    }

    .primary {
        padding: 20px;
        font-size: 20px;
    }
    .form--input img {
        right: 20px;
    }
}